.aboutUsBackground {
    background-image: url('https://i.ibb.co/58Rrmv4/photo-1589810264340-0ce27bfbf751.jpg');
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 1% 0 4.5% 0;
}

.titleAbout {
    padding-top: 0rem;
    margin: auto;
    margin-top: 50px;
    width: 65%;
    border: solid 4pt #212529;
    border-radius: 50px;
    background: #e9a713;
}

.about-us-container {
    background-size: cover;
    background-position: center;
    color: #000000;
    padding: 20px;
}

.questionsContainer {
    margin: 25px auto 0;
    width: 65%;
    align-items: center;
}


.aboutUsText {
    text-align: center;
}

.aboutUsText p {
    max-width: 600px;
    margin: 20px auto 1px;
    font-size: 18px;
}

.titleQuestions {
    width: 45%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    padding-top: 0rem;
    border-radius: 50px;
    border: solid 4pt #212529;
    background: #e9a713;
}

.offerts {
    text-align: center;
    background-color: #212529;
    padding: 0.2rem;
    width: 45%;
}

/* Version Responsive*/
@media screen and (max-width: 768px) {
    .titleAbout {
        margin-top: 45px;
        width: auto;
    }

    .titleAbout h2 {
        font-size: auto;
    }

    .aboutUsText p {
        font-size: auto;

    }

    .titleQuestions {
        width: 90%;
        max-width: 300px;
        text-align: center;
        margin: 25px auto 15px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: 50px;
        border: solid 4pt #212529;
        background: #e9a713;
    }

    .offerts {
        text-align: center;
        background-color: #212529;
        border-radius: 50%;
        padding: 0.2rem;
        width: auto;
    }
}