.loaderContainer {
    position: absolute;
    /* Establece la posición absoluta para el Loader */
    top: 50%;
    /* Coloca el Loader en el centro verticalmente */
    left: 50%;
    /* Coloca el Loader en el centro horizontalmente */
    transform: translate(-50%, -50%);
    /* Centra el Loader */
}