/* Version Ordenador */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    margin: 0 auto 7px;
    padding: 5px;
}

.cardImg {
    width: 100%;
    height: auto;
}

.cardBody {
    padding: 5px;
}

.cardTitle {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
}

.cardPrice {
    color: #666;
    text-align: center;
    font-size: 1.0rem;
}

.cardIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardHeart,
.cardCart {
    font-size: 24px;
    transition: all 0.3s ease;
    margin: 8px;
    cursor: pointer;
}

.cardHeart:hover {
    transform: scale(1.3);
    color: red;
}


.cardCart:hover {
    transform: scale(1.3);
    color: #61BD00;
}

.cardHeart {
    color: #212529
}

.cardCart {
    color: #212529
}

/* Version Responsive */
@media (max-width: 768px) {
    .card {
        max-width: 90%;
    }

    .cardTitle {
        font-size: 0.7rem;
    }

    .cardPrice {
        font-size: 0.6rem;
    }

    .cardHeart,
    .cardCart {
        font-size: 16px;
    }
}