.shopContainer {
    background: linear-gradient(145deg,  #FFB404, #0098B4); /* Degradado de violeta a naranja */
    max-width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1% 0 4.5% 0;
    margin-top: 25px;
    overflow-x: hidden;
}
.locationProductsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px; /* Ajusta según sea necesario */
  }
  
  .spinnerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.titleShop{
    text-align: center;
    margin-top: 20px;
}

.locationProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 25px;
}

/* Toolbar.module.css */

/* Estilos generales */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
}

.shopContent {
    display: flex;
    flex-direction: column;
    /* Cambia la dirección de los elementos a columnas */
    gap: 10px;
    /* Espacio entre los botones */
}

/* Estilos para pantallas más pequeñas (responsive) */
@media (max-width: 768px) {
    .shopContent {
        flex-direction: row;
        /* Cambia la dirección de los elementos a filas */
        flex-wrap: wrap;
        /* Permite que los botones se envuelvan en filas */
    }
}