.footerContainer {
    background: linear-gradient(135deg, #f5f6fa, #dcdde1); /* Degradado de tonos de gris suaves */
    box-sizing: border-box;
    border-color: #212529;
    border-width: 3px;
    border-radius: 0;
    overflow-x: hidden;
    bottom: 0;
    width: 100%;
    padding: 20px 0; 
}

.text {
    font-size: 14px;
    margin: 0;
    color: #333; /* Color de texto más oscuro para contraste */
}
.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.card-body {
    padding: 0;
}



.font-italic {
    font-style: italic;
}

.icon {
    margin-top: 7px;
}

.customFooter {
    width: 100vw;
    margin-top: 15px;
    box-sizing: border-box;
    text-align: center;
    color: #F0F0EF;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Version Responsive */
@media (min-width: 768px) {
    .footerContainer {
        padding: 0px 20px; /* Ajuste de padding para pantallas grandes */
    }

    .btn,
    .icon {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 4px;
    }

    .customFooter {
        width: 100vw;
        margin-top: 15px;
        box-sizing: border-box;
        text-align: center;
        color: #F0F0EF;
        background-color: #212529;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
