/* Estilos ambas versiones */
.footerContainer {
    background-image: url("/src/assets//WallpaperBlueFlores.jpg");
    box-sizing: border-box;
    color: #574c43;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-body {
    padding: 0;
}

.text {
    margin: 0;
}

.font-italic {
    font-style: italic;
}

/* Version Mobile*/
@media (max-width: 768px) {
    .footerContainer {
        padding: 0px;
    }

    .btn,
    .icon {
        font-size: 14px;
    }
}

/* Version de Escritorio*/
@media (min-width: 769px) {
    .custom-footer {
        width: 98.8vw;
        margin-top: 15px;
        box-sizing: border-box;
        text-align: center;
        color: #F0F0EF;
        background-color: #212529;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}