/* Version Ordenador */
.footerContainer {
    background-image: url("https://i.ibb.co/7QBMQLQ/fondo-escritorio-flores-vector-lindo-53876-136877.jpg ");
    box-sizing: border-box;
    background: rgb(1, 147, 174);
    background: linear-gradient(326deg, rgba(1, 147, 174, 1) 0%, rgba(233, 167, 19, 1) 75%);
    border-color: #212529;
    border-width: 5px;
    border-radius: 0;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-body {
    padding: 0;
}

.text {
    font-size: 14px;
    margin: 0;
}

.font-italic {
    font-style: italic;
}

.icon {
    margin-top: 7px;
}

.custom-footer {
    width: 98.8vw;
    margin-top: 15px;
    box-sizing: border-box;
    text-align: center;
    color: #F0F0EF;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Version Responsive */
@media (min-width: 768px) {
    .footerContainer {
        padding: 0px;
    }

    .btn,
    .icon {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 4px;
    }

    .custom-footer {
        width: 98.8vw;
        margin-top: 15px;
        box-sizing: border-box;
        text-align: center;
        color: #F0F0EF;
        background-color: #212529;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}