.offertContainer {
    background-image: url("/src/assets/WallpaperBlueFlores.jpg");
    align-items: center;
    justify-content: center;
    width: 95%;
}

.offerts {
    color: #F0F0EF;
    text-align: center;
    background-color: #212529;
    padding: 1rem;
    text-decoration-line: underline;
}

.slickSlider {
    padding: 0 10px;
}


@media (max-width: 767px) {
    .offertContainer {
        padding: 0px;
        height: auto;
    }

    .offerts {
        font-size: 20px;
    }
}