/* Versión Ordenador */
.iconsContainer {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.icon-col {
    text-align: center;
    margin-bottom: 1.5rem;
}

.icon {
    font-size: 100px;
}

/* Versión Responsive */
@media (max-width: 768px) {
    .iconsContainer {
        width: 85%;
    }

    .icon {
        font-size: 60px;
    }
}

h5 {
    font-size: 1.2rem;
    /* Ajusta el tamaño del texto para la versión responsive */
    margin-bottom: 0.5rem;
    /* Ajusta el margen inferior del h5 para la versión responsive */
}

p {
    font-size: 0.9rem;
    /* Ajusta el tamaño del texto para la versión responsive */
    margin-bottom: 0;
    /* Elimina el margen inferior del párrafo para la versión responsive */
}