.backgroundHome {
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('https://i.ibb.co/58Rrmv4/photo-1589810264340-0ce27bfbf751.jpg');
}