.backgroundHome {
    overflow-x: hidden;
  background: linear-gradient(145deg, #0098B4, #FFB404); /* Degradado de violeta a naranja */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  }
  
