.mainCart {
    padding: 20px; /* Añadir padding para separar el contenido del borde */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a3b8a6;
    background-size: cover;
    margin: 0 auto; /* Ajustar los márgenes */
    min-height: calc(100vh - 200px); /* Asegurar que el contenedor ocupe al menos la altura de la ventana menos los 200px */
    max-width: 100%;
    box-sizing: border-box; /* Incluir padding y border en el tamaño total del contenedor */
}

h2 {
    margin-top: 50px; /* Ajustar el margen superior si es necesario */
}
