/* Toolbar.module.css */

/* Estilos generales */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
}

.shopContent {
    display: flex;
    flex-direction: column;
    /* Cambia la dirección de los elementos a columnas */
    gap: 10px;
    /* Espacio entre los botones */
}

/* Estilos para pantallas más pequeñas (responsive) */
@media (max-width: 768px) {
    .shopContent {
        flex-direction: row;
        /* Cambia la dirección de los elementos a filas */
        flex-wrap: wrap;
        /* Permite que los botones se envuelvan en filas */
    }
}