/* Version Ordenador */
.offertContainer {

    background-color: #D6D6D6;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 85%;
    border-radius: 20px;
}

.marginOfferts {
    color: #F0F0EF;
    text-align: center;
    background-color: #40474F;
    padding: 1rem;
    text-decoration-line: underline;
    border-radius: 20px;
}

/* Version Responsive */
@media (max-width: 767px) {
    .offertContainer {
        padding: 0px;
        height: auto;
        width: auto;
    }

    .offerts {
        font-size: 20px;
    }
}