/* Version Ordenador */
.carouselContainer {
    width: 85%;
    margin: 90px auto;
    display: flex;
    align-items: center;
}

.carouselImage {
    width: 100%;
    height: auto;
}

/* Version Responsive */
@media (max-width: 768px) {
    .carouselContainer {
        width: auto;
        height: auto;
    }

    .carouselImage {
        height: 200px;
    }
}